<div class="content pt_shadow">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg> Edit Tournament: {{TITLE}}</h4>
			<hr>
		</div>
	</div>
		<div id="video-success" class="alert alert-success"></div>
		<div class="errors alert alert-danger"></div>
		<div class="col-md-8" id="edit-form">
			<form action="" class="form-horizontal setting-panel pt_forms" method="POST">
				<div class="form-group">
					<label class="col-md-12" for="title">{{LANG title}} *</label>  
					<div class="col-md-12">
						<input id="title" name="title" type="text" value="{{TITLE}}" class="form-control input-md">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="description">{{LANG descritpion}} *</label>  
					<div class="col-md-12">
						<textarea name="description" id="description" cols="30" rows="5" class="form-control">{{DESC}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="text">The Rule *</label>  
					<div class="col-md-12">
						<textarea name="rule" id="rule" class="form-control">{{RULE}}</textarea>
					</div>
				</div>
				<div class="form-group">
						<label class="col-md-12" for="category">Platform *</label>  
						<div class="col-md-12">
						    <select class="form-control selectpicker show-menu-arrow show-tick" multiple name="platform-list[]" data-live-search="true" title="Select Platforms" data-actions-box="true" id="platform">
								<?php foreach($pt->platforms_array as $platform) {
								$platlist = explode(',', $pt->tour->platform);
								$selected = '';
								if(in_array($platform->name, $platlist)) $selected = 'selected';?>
								<option value="<?php echo $platform->name;?>" <?=$selected?>><?php echo $platform->name;?>
								</option>
								<?php } ?>
							</select>
						</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="category_id">Games</label>  
					<div class="col-md-12">
						<select name="gameid" id="gameid" class="form-control">
							<?php foreach($pt->games_array as $game) { $selected = ($pt->tour->gameid == $game->id) ? 'selected' : '';?>
							<option value="<?=$game->id?>" <?php echo $selected?>><?php echo $game->name;?></option>
							<?php } ?>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="category">Type *</label>  
					<div class="col-md-12">
							<input type="radio" id="event_online" name="type" value="online" tabindex="6"> 
							<label for="event_online">Online</label>
							<input type="radio" id="event_offline" name="type" value="offline" tabindex="6"> 
							<label for="event_offline">Offline</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="category">Registration Fee *</label>  
					<div class="col-md-12">
						<input type="radio" id="event_free" name="feetype" value="fee_free" tabindex="6"> 
						<label for="event_free">Free</label>
						<input type="radio" id="event_paid" name="feetype" value="fee_paid" tabindex="6"> 
						<label for="event_paid">Paid</label>
						<input type="number" min="0" step="0.01" name="event_fee" id="event_fee" class="form-control text-right" style="display: none;" placeholder="Enter event fee" value="{{EVENTFEE}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="text">Prize Pool*</label>  
					<div class="col-md-12">
						<input type="number" min="0" step="0.01" name="event_pool" class="form-control text-right" 
						value="{{POOL}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="text">MaxPlayer*</label>  
					<div class="col-md-12">
						<input type="number" min="2" step="1" name="max_player" class="form-control text-right" value="{{MAXNUMBER}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12" for="text">StartDateTime*</label>  
					<div class="col-md-12">
						<input type="text" name="start_date_time" id="start_date_time" class="form-control" value="{{STARTDATETIME}}">
					</div>
				</div>
				<div class="form-group hidden">
					<label class="col-md-12" for="thumbnail">{{LANG thumbnail}}</label>  
					<div class="col-md-12">
						<input id="thumbnail" name="image" type="file" accept="image/*">
						<span class="help-block">jpg, png, gif</span>
					</div>
				</div>
				<div class="last-sett-btn modal-footer" style="margin: 0px -25px -10px -25px;">
					<button type="button" class="btn btn-delete setting-panel-mdbtn" onclick="PT_DeleteTeam({{ID}});">{{LANG delete}}</button>
					<button type="submit" id="submit-btn" class="btn btn-main setting-panel-mdbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}</button>
				</div>
				<input type="hidden" name="id" class="id" value="{{ID}}">
			</form>
		</div>
		<div class="col-md-4">
			<div class="thumbnail-preview edit-thumb">
				<img src="{{IMAGE}}" alt="{{TITLE}}">
			</div>
			<div class="video-title">
				<p>{{TITLE}}</p>
			</div>
		</div>
		<div class="clear"></div>
	<div class="clear"></div>
</div>
<script src="{{CONFIG theme_url}}/js/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
	tinymce.init({
          selector: '#rule',  // change this value according to your HTML
          auto_focus: 'element1',
          relative_urls: false,
          remove_script_host: false,
          height:300,
          skin:'charcoal',
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image  uploadImages |  preview media fullpage | forecolor backcolor emoticons',
          plugins: [
              'advlist autolink link image  lists charmap  preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
          ]
        });
$('#platform').selectpicker();
$('#start_date_time').datetimepicker();

$('#event_free').on('click', function()
	{
		$('#event_fee').hide();
	});
	$('#event_paid').on('click', function()
	{
		$('#event_fee').show();
	});
$(document).ready(function() {
	<?php 
		if($pt->tour->type == 'online') { ?> 
			$('#event_online').click();
		<?php } else if($pt->tour->type == 'offline') {?>
			$('#event_offline').click();
	<?php }	if($pt->tour->feetype == 'fee_free') { ?>
			$('#event_free').click();
		<?php } else if($pt->tour->feetype == 'fee_paid') {?>
			$('#event_paid').click();
	<?php } ?>
});

function PT_DeleteTeam(id) {
	  if (!id) {
	    return false;
	  }
	swal({
	    title: '{{LANG confirmation}}',
	    text: "Are you sure you want to delete this team?",
	    type: 'warning',
	    showCancelButton: true,
	    confirmButtonColor: '#3085d6',
	    cancelButtonColor: '#d33',
	    confirmButtonText: '{{LANG yes_del}}'}).then(function(){
		  $.post('{{LINK aj/tournaments/delete-tournament}}', {id: id}, function(data, textStatus, xhr) {
		    if (data.status == 200) {
		        window.location.reload();
		    }
		  });
		});  
	}

$(function () {
	$('.edit-thumb').on('click', function(event) {
		$('#thumbnail').trigger('click');
	});
	$('#thumbnail').on('change', function(event) {
		readURL(this);
	});
   $('#title').keyup(function(event) {
      $('.video-title p').html($(this).val());
   });
	$("#mySingleFieldTags").tagit({
		allowSpaces: true
	});
	$('#edit-form form').ajaxForm({
	    url: '{{LINK aj/tournaments/edit-tournament}}?hash=' + $('.main_session').val(),
	    beforeSend: function() {
	    	$('#submit-btn').attr('disabled', true);
	    	$('#submit-btn').text("{{LANG please_wait}}");
	    },
	    success: function(data) {
	    	if (data.status == 200) {
	    		$('#video-success').html("The Operation Suceessed!");
                setTimeout(function () {
	    			//window.location.href = data.link;
	    			//window.location.reload();
	    			$('#submit-btn').attr('disabled', false);
		    	    $('#submit-btn').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}');
		    		},2000);
	    	} else {
	    		$('#submit-btn').attr('disabled', false);
	    	    $('#submit-btn').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}');
	    		$('.errors').removeClass('hidden').html(data.message);
	    		Snackbar.show({text: "<div>"+ data.message +"</div>"});
	    	}
	    }
	});
});
</script>