<div class="col-md-3 col-sm-6 col-xs-6 keep-padding" data-id="{{ID}}">
	<div class="video-list">
		<div class="video-list-image">
			<a>
				<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
				<div class="play_hover_btn">
				</div>
			</a>
			<div class="video-duration">{{CURTIME}}</div>
		</div>
		<div class="pt_vid_fixed_height">
			<div class="video-list-title">
				<a><h4 title="{{TITLE}}">{{TITLE}}</h4></a>
			</div>
			<div class="video-list-by">
				<span><a href="{{USER_URL}}" data-load="?link1=timeline&id={{NAME}}">{{NAME}}</a></span>
				<i class="fa fa-check-circle fa-fw verified"></i><br/>
				<span>{{LIKE}} LIKE</span> <span class="bold">|</span> <span>{{TIME}}</span>
			</div>
		</div>
	</div>
</div>