<div class="related-video-wrapper">
	<div class="ra-thumb">	
        <img src="{{IMAGE}}">
        <span class="ra-info re-video-info text-center" style="min-width: 20%;border-radius: 3px;" userid={{USERID}} teamid={{TEAMID}} onclick="PT_ACCEPT(this)" state={{STATUE}} uniqueid={{INDEX}}>
            <a><h5 id="strstate_{{INDEX}}">{{STATUE}}</h5></a>
        </span>
    </div>
    <div class="ra-title">
        <h5><a href="{{URL}}" data-load="?link1=team_read&id={{TEAMREAD_URL}}">{{TITLE}}</a></h5>
    </div>
</div>
